vendor/*
var/
setup/
pub/
phpserver/
package.json.sample/
nginx.conf.sample/
package.json.sample/
nginx.conf.sample/
lib/
index.php/
index .html/
grunt-config.json.sample
.composer/
.editorconfig/
.htaccess/
.htaccess.sample/
.php_cs.dist/
.user.ini/
CHANGELOG.md/
COPYING.txt/
Gruntfile.js.sample/
.php_cs.dist
.editorconfig
.htaccess
.user.ini
CHANGELOG.md
.htaccess.sample
LICENSE 
LICENSE*
i**
CO*
generated/
nginx.conf.sample
package.json.sample
bin/
dev/
Gruntfile.js.sample
README_EE.md
SECURITY.md
README.md
auth.json.sample
